header{
    color: bisque;
    text-align: center;
    padding: 10px;
    margin: 15px;
}

header h4{
    font-weight: 100;
}

header h1{
    font-weight: 700;
}

body{
    background-color: rgb(108, 17, 255);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.caja{
    background-color: white;
    margin: 15px;
    width: 200px;
    height: 550px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
    align-items: center;
}

.caja1{
    background-color: white;
    width: 300px;
    height: 625px;
    border-radius: 1cqh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 40px;
}

.cajita{
    background-color: rgb(232, 212, 186);
    width: 200px;
    height: 50px;
    color: rgb(108, 17, 255);;
    text-align: center;
    justify-content: center;
}


img{
    height: auto;
    width: 50PX;
}


.plan{
    color: rgb(232, 186, 2);
    font-size: 25px;
}

h2{
    color: rgb(108, 17, 255);
    font-weight: 700;

}

ul{
    list-style-type: none;
}

p{
    color: rgb(108, 17, 255);
}

.started{
    color: White;
    background-color:rgb(108, 17, 255);
}


